body {
  font-family: 'Oswald', sans-serif;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px

}
     h1{
      text-align:center;
       
    }

    h2 {
    margin-left:8px;
    }

    iframe{
    margin-left:8px;
    }

    .menu{
    text-align:center;
    }

    p{
      margin-left:8px;
    }

    video{
      margin-left:8px;
    
